@model IEnumerable<News.Model.Entity.Concrete.AllNews>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}

    <section class="content">
        <div class="row col-md-12">
            <div class="box-header">
                <h3 class="box-title">
                    Categories
                </h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Header
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Content
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Added Date
                            </th>
                            <th>
                                Deleted Date
                            </th>
                            <th>
                                Updated Date
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="col-md-2">
                                    @item.Header
                                </td>
                                <td class="col-md-2">
                                    @item.Description
                                </td>
                                <td class="col-md-2">
                                    @item.Content
                                </td>
                                <td class="col-md-2">
                                    @item.Image
                                </td>
                                <td class="col-md-2">
                                    @item.CategoryID
                                </td>
                                <td class="col-md-2">
                                    
                                    @item.Status
                                </td>
                                <td class="col-md-2">
                                    @item.AddDate
                                </td>
                                <td class="col-md-2">
                                    @item.DeleteDate
                                </td>
                                <td class="col-md-2">
                                    @item.UpdateDate
                                </td>
                                <td class="col-md-1">
                                    <a href="Update/@item.ID" class="btn btn-primary">Update</a>
                                </td>
                                <td class="col-md-1">
                                    <a href="Delete/@item.ID" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </section>

